.banner{
    height: 350px;
    width: 100%;
    position: relative;
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content:  center;
    object-fit: contain;
}
.wrapper{
    z-index: 2;
    padding: 10px;
}
.wrapper h2{
    color: white;
    font-size: 5em;
}
.content{
    width: 100%;
    padding: 10px;
}
.citle{
    font-size: 4em;
    text-align: center;
    color: rgb(56, 56, 56);
    text-transform: uppercase;
}
.content p{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}